button{
    background-color: black;
    color: white;
    padding: 14px;
    border-radius: 12px;
    font-size: 18px;
}
button a{
    color: white;
}
button:hover{
    background-color: white;
    color: black;
    font-size: 20px;
}
button:visited{
    background-color: #ff0000;
}
button:active{
    background-color: yellow;
}
#parag:empty{
    background: #ff0000;
}
p:first-child {
    background: yellow;
}
p::first-line {
  color: #ff0000;
  font-variant: small-caps;
  letter-spacing: 3px;
  text-decoration: overline;
}
p::first-letter {
  color: black;
  font-size: xx-large;
}
input:focus {
    background-color: yellow;
}
p:only-child{
    background-color: black;
}
